body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
}

#sing-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#sing-in h2 {
    font-size: 2.5rem;
}

#form-ingreso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#form-ingreso label {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

#form-ingreso input {
    box-sizing: border-box;
    font-size: 1rem;
    padding: .2rem;
    width: 70%;

}

#form-ingreso button {
    width: 50%;
    height: 25px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

#form-ingreso button:hover {
    background-color: rgb(246, 246, 246);
}