<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./index.css') }}">
    <title>Flask - DB Ropa</title>
</head>
<body>
    <header>
        <h1>DB Tienda de Ropa - G13</h1>
    </header>
    <main>
        <h2>Contenido General DB</h2>
          <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Prenda</th>
                    <th>Precio</th>
                    <th>Talles</th>
                    <th>Género</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
            {% for item in datos %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.img.split('/')[-1] }}</td>
                <td>{{ item.prenda }}</td>
                <td>${{ item.precio }}</td>
                <td>{{ talles_ordenados[loop.index0] }}</td>
                <td>{{ item.genero }}</td>
                <td><button id="btn-editar-{{ item.id }}">Editar</button></td>
                <td><a href="{{ url_for('deletePrenda', id=item.id) }}">Eliminar</a></td>
            </tr>
            </tbody>    

            <div class="modal" id="modal-editar-{{ item.id }}">
                <div class="modal-content">
                    <h3>Editar Prenda <span class="close">&times;</span></h3>
                    <form action="/editarPrenda" method="POST">
                        <label>ID: <input name="modal-id_db" id="modal-id_db" type="text" value="{{ item.id }}"></label>
                        <label>Nombre<input name="modal-nombre_db" id="modal-nombre_db" type="text" value="{{ item.prenda }}"></label>
                        <label>Img: <input name="modal-img_db" id="modal-img_db" type="text" value="{{ item.img }}"></label>
                        <label>Precio: <input name="modal-precio_db" id="modal-precio_db" type="text" value="{{ item.precio }}"></label>
                        <fieldset id="check-talles">
                            <legend> Talles </legend>
                            <label>XS<input type="checkbox" name="modal-talles" value="xs" {% if 'xs' in item.talles %}checked{% endif %}></label>
                            <label>S<input type="checkbox" name="modal-talles" value="s" {% if 's' in item.talles %}checked{% endif %}></label>
                            <label>M<input type="checkbox" name="modal-talles" value="m" {% if 'm' in item.talles %}checked{% endif %}></label>
                            <label>L<input type="checkbox" name="modal-talles" value="l" {% if 'l' in item.talles %}checked{% endif %}></label>
                            <label>XL<input type="checkbox" name="modal-talles" value="xl" {% if 'xl' in item.talles %}checked{% endif %}></label>
                            <label>XXL<input type="checkbox" name="modal-talles" value="xxl" {% if 'xxl' in item.talles %}checked{% endif %}></label>
                        </fieldset>
                        <label>Genero: <input name="modal-generos" id="modal-generos" type="text" value="{{ item.genero }}"></label>
                        <button type="submit">Guardar cambios</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </table>
        <section class="campos">
            <p>Crear Registro</p>
            <form action="/add-prenda" method="POST">
                <label>Nombre <input type="text" id="nombre_db" name="nombre_db" required></label>
                <label>Imagen <input type="text" id="img_db" name="img_db" required></label>
                <fieldset id="talles_db">
                    <legend> Talles </legend>
                    <label>XS<input type="checkbox" name="talles_db" value="xs"></label>
                    <label>S<input type="checkbox" name="talles_db" value="s"></label>
                    <label>M<input type="checkbox" name="talles_db" value="m"></label>
                    <label>L<input type="checkbox" name="talles_db" value="l"></label>
                    <label>XL<input type="checkbox" name="talles_db" value="xl"></label>
                    <label>XXL<input type="checkbox" name="talles_db" value="xxl"></label>
                </fieldset>
                <label>Genero <input type="text" id="genero_db" name="genero_db" required></label>
                <label>Precio <input type="number" id="precio_db" name="precio_db" required></label>
                <button type="submit" id="btn-crear">Crear</button>
            </form>
        </section>
    </main>
    <footer></footer>

    <script>
        // Función para mostrar el modal
        function mostrarModal(id) {
            const modal = document.getElementById('modal-editar-' + id);
            modal.style.display = 'block';
        }
    
        // Función para cerrar el modal
        function cerrarModal(id) {
            const modal = document.getElementById('modal-editar-' + id);
            modal.style.display = 'none';
        }

        // Obtén todos los botones de editar
        const botonesEditar = document.querySelectorAll('[id^="btn-editar-"]');

        // Agrega un evento de clic a cada botón
        botonesEditar.forEach((boton) => {
            boton.addEventListener('click', (event) => {
                const id = event.target.id.split('-')[2]; // Extrae el ID del botón
                mostrarModal(id); // Llama a la función para mostrar el modal
            });

        // Obtén todos los elementos con clase "close" (la "X" en el modal)
        const botonesCerrar = document.querySelectorAll('.close');

        // Agrega un evento de clic a cada botón de cierre
        botonesCerrar.forEach((boton) => {
            boton.addEventListener('click', (event) => {
                const id = event.target.closest('.modal').id.split('-')[2]; // Extrae el ID del modal
                cerrarModal(id); // Llama a la función para cerrar el modal
            });
        });
});
    </script>
</body>
</html>