<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./index.css') }}">
    <title>Flask - DB Ropa</title>
</head>
<body>
    <header>
        <h1>DB Tienda de Ropa - G13</h1>
    </header>
    <main>
        <h2>Contenido General DB</h2>
        <!-- {{ datos }} -->
          <table>
            <tr>
                <th>ID</th>
                <th>Archivo Img</th>
                <th>Prenda</th>
                <th>Precio</th>
                <th>Talles</th>
                <th>Para</th>
            </tr>
            {% for item in datos %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.img.split('/')[-1] }}</td>
                <td>{{ item.prenda }}</td>
                <td>${{ item.precio }}</td>
                <td>{{ item.talles }}</td>
                <td>{{ item.genero }}</td>
            </tr>    
            {% endfor %}
        </table>
        <section>
            <a href="/modificacion-db">Editar Registro</a>
        </section>
    </main>
</body>
</html>