<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="my portfolio web - developer fullstack" />
    <meta name="keywords" content="html, css, javascript, python, sql, git, developer, backend" />
    <meta name="author" content="j gabriel ortiz" />
    <meta name="robots" content="index, nofollow" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./layout.css') }}">
    <title>Flask - DB Ropa</title>
    <!-- Custom CSS -->
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    {% block script %}
    {% endblock %}
</body>
</html>